body {
    margin: 0;
}

.main-container {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
}

.container-top-left {
    top: 30px;
    left: 78px;
    position: absolute;
    height: 84px;
    width: 84px;
    background-color: #008cff !important;
    border-radius: 84px;
    overflow: hidden;
}

.container-left {
    top: 144px;
    left: 20px;
    position: absolute;
    height: 84px;
    width: 84px;
    background-color: #008cff !important;
    border-radius: 84px;
    overflow: hidden;
}

.container-bottom-left {
    top: 246px;
    left: 78px;
    position: absolute;
    height: 84px;
    width: 84px;
    background-color: #008cff !important;
    border-radius: 84px;
    overflow: hidden;
}

.container-top-right {
    top: 30px;
    left: 198px;
    position: absolute;
    height: 84px;
    width: 84px;
    background-color: #008cff !important;
    border-radius: 84px;
    overflow: hidden;
}

.container-right {
    top: 144px;
    left: 256px;
    position: absolute;
    height: 84px;
    width: 84px;
    background-color: #008cff !important;
    border-radius: 84px;
    overflow: hidden;
}

.container-bottom-right {
    top: 246px;
    left: 198px;
    position: absolute;
    height: 84px;
    width: 84px;
    background-color: #008cff !important;
    border-radius: 84px;
    overflow: hidden;
}

.container-center {
    top: 126px;
    left: 126px;
    position: absolute;
    height: 108px;
    width: 108px;
    background-color: #45c0ef !important;
    border-radius: 108px;
    overflow: hidden;
}

.image {
	top: 6px;
    left: 6px;
    position: absolute;
    height: 72px;
    width: 72px;
}

.image-center {
	top: 6px;
    left: 6px;
    position: absolute;
    height: 96px;
    width: 96px;
}